<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Uncomment the following if you want the Staging Environment to sync to Consultix Production Kraft.UK and Kraft.IE -->
  <!--<appSettings>

    <add key="CSX:Consumer:ApiKey:UK" value="{{ProCampaign Kraft.UK API Key}}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CSX:Consumer:ApiSecret:UK" value="{{ProCampaign Kraft.UK API Secret}}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="CSX:Consumer:ApiKey:IE" value="{{ProCampaign Kraft.IE API Key}}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CSX:Consumer:ApiSecret:IE" value="{{ProCampaign Kraft.IE API Secret}}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>-->
  <connectionStrings>

    <add name="umbracoDbDSN" connectionString="server={{staging db Server}};database={{staging db schema}};user id={{staging db username}};password={{staging db password}}" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  
  </connectionStrings>
  <system.web>
    
    <compilation xdt:Transform="SetAttributes(debug)" debug="false"  />
    <customErrors mode="On" defaultRedirect="error500" xdt:Transform="Replace"/>
    
  </system.web>
</configuration>