@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterLayout.cshtml";
}

<section class="static-section">
        <div class="content-wrapper">
          <h1 class="header">Our Cookie Policy</h1>
          <div class="text-container">
            <div class="text-wrapper">
              <p class="title">What are Cookies?</p>
              <p class="text">
                 A cookie is a tiny data file, which is stored on your computer within the web browser, when certain web pages are visited. A cookie does not contain or collect information in isolation, but when read by a server via a web browser; it can give information to facilitate a more user friendly service such as detecting errors. A cookie will not harm your computer and no personally identifiable information is stored from the use of this site. For more information on how cookies are used on this site, please see <a class="link" href="#how-we-use-cookies">How we use cookies</a>.</p>
              <p class="text">
                 To use our website fully, you will need to have cookies enabled. If you do not wish to enable cookies, you can still browse the site; however certain features of the site may be limited. Most web browsers have cookies automatically enabled; however see <a class="link" href="#managing-cookies">Managing cookies </a>where you can find out how you can check your cookie settings.</p>
              <p class="text -last">This information is outlined as part of our efforts to comply with recent legislation and to ensure that we are open, honest and clear about user privacy. Please refer to our <a class="link" href="https://eu.mondelezinternational.com/privacy-notice?siteId=nzaaZBJAN%2fVI9axg9wmKL7n88yzTk5aqWwTu8qs4dS0%3d" target="_blank" rel="noopener noreferrer">Privacy Notice</a> for more information.</p>
              <p class="title" id="how-we-use-cookies">How we use Cookies?</p>
              <p class="text">You may notice the presence of different types of cookies generated on your visit to this website. We use three types of cookies:</p>
              <ul class="list">
                <li>Session cookies, which are automatically deleted after every visit.</li>
                <li>Session cookies with expiration date.</li>
                <li>Persistent cookies that will remain in place during multiple visits to the site.</li>
                <li>Third party cookies, which are used by partner websites that are embedded within our site or that we link to</li>
              </ul>
              <p class="title">Session Cookies</p>
              <p class="text">
                 These enable you to perform essential functions on the site, such as remembering a repeat form field item within a browsing session. In addition, they help by limiting the need to transfer information across the Internet. They are not stored on your computer and will expire when you terminate your browser session.<br>Here's a list of the main cookies we use, and what we use them for.</p>
              <table class="table-info -last">
                <tr>
                  <td>PHPSESSID</td>
                  <td>PHP session cookie</td>
                </tr>
                <tr>
                  <td>BNES_PHPSESSID</td>
                  <td>Additional security of the PHPSESSID cookie</td>
                </tr>
                <tr>
                  <td>_xsfr</td>
                  <td>Security cookie to prevent Cross-Site Request Forgery</td>
                </tr>
              </table>
              <p class="title">Session Cookies with Expiration Date</p>
              <p class="text">
                 These enable you to perform essential functions on the site, such as remembering a repeat form field item within a browsing session. In addition, they help by limiting the need to transfer information across the Internet. They are stored on your computer and will expire on a fixed date.<br>Here's a list of the main cookies we use, and what we use them for.</p>
              <table class="table-info -last">
                <tr>
                  <td>_ga</td>
                  <td>Universal Google Analytics user tracking cookie</td>
                </tr>
                <tr>
                  <td>_gid</td>
                  <td>Universal Google Analytics user tracking cookie</td>
                </tr>
                <tr>
                  <td>_gat_UA-59006189-47</td>
                  <td>Google Analytics user tracking cookie</td>
                </tr>
                <tr>
                  <td>BNI_persistence</td>
                  <td>Used by the traffic balancing service</td>
                </tr>
              </table>
              <p class="title">Persistent Cookies</p>
              <p class="text">These enable us e.g. to recognise anonymous repeat visitors to the site. By matching an anonymous, randomly generated identifier, a record can be taken of specific browsing information such as how you arrive at the site, the pages you view, options you select, and the path taken through the site. By monitoring this information we’re able to make improvements to the site, including the fixing of errors and the enhancement of content.</p>
              <p class="text -last">We use Google Analytics to analyse page use, page interactions and the routes taken through our sites. These are known as 'website metrics' or ‘analytics’. We do not record any personal information as part of this process.</p>
              <p class="title">3rd Party Cookies</p>
              <p class="text">When you visit our site you may notice some cookies that are not related to Mondelēz International. If you go on to a web page that contains embedded content, for example from Facebook or YouTube, you may be sent cookies from these websites. We do not control the generation of these cookies, so we suggest that you check the individual third-party websites for more information about their cookies and how to manage them.</p>
              <p class="text -last">NID	a unique ID that Google uses to remember your preferences</p>
              <p class="title">Google Analytics Disclaimer</p>
              <p class="text">This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses "cookies", which are text files placed on your computer to help the website analyse how visitors use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States . Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.</p>
              <p class="text">
                 You can prevent Google’s collection and use of data (cookies and IP address) by downloading and installing the browser plug-in available under <a class="link" href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank" rel="noopener noreferrer">https://tools.google.com/dlpage/gaoptout?hl=en.</a></p>
              <p class="text -last">Please note that this website initializes Google Analytics with the setting “anonymizeIp”. <br>This guarantees anonymized data collection by masking the last part of your IP address.</p>
              <p class="title" id="managing-cookies">Managing Cookies (To Enable or Disable Cookies)</p>
              <p class="text">If you do not know the type and version of the web browser you use to access the Internet, click on ‘Help’ at the top of your browser window, then click ‘About’. The relevant information you require will then be shown.</p>
              <p class="title -small">Google Chrome </p>
              <p class="text">Click the Chrome menu button (three dots) at the top right of your browser window and select ‘Settings’ from the drop-down menu. Click ‘Show advanced settings’ at the bottom and locate the ‘Privacy’ section. Click ‘Content settings’ and then ‘Cookies‘. Within the cookie section, turn ‘Allow sites to save and read cookie data’ on to enables cookies. To disable cookies turn ‘Allow sites to save and read cookie data’ off and turn on ‘Block third-party cookies’. </p>
              <p class="title -small">Safari</p>
              <p class="text">Choose ‘Safari‘ in the main menu and select 'Preferences'. Click on the 'Privacy' icon at the top of the overlay that appears. If you wish to completely disable cookies, check 'Always block' at 'Cookies and website data'. </p>
              <p class="title -small">Firefox</p>
              <p class="text">Click the menu button (three lines) at the top right of your browser window and select 'Preferences' from the dropdown menu. Select the 'Privacy & Security' panel and go to the 'History' section. In the dropdown menu next to 'Firefox will', choose 'Use custom settings for history'. Check 'Accept cookies from websites' to enable cookies, and uncheck it to disable them.</p>
              <p class="title -small">Internet Explorer 8, 9, 10 and 11 (latest version)</p>
              <p class="text">Select the 'Tools' menu, then select 'Internet options'. Click on the 'Privacy' tab. Ensure that your privacy level is set to 'Medium' or below, which will then enable cookies in your browser. Settings above 'Medium' will disable cookies. For more specialised settings click on the 'Advanced' button, check the 'Override cookie handling' checkbox and modify the settings to suit your requirements.</p>
              <p class="title -small">Internet Explorer 10 and 11 (Metro)</p>
              <p class="text">Select the 'Tools' button, then select 'Options'. Click on the arrow (back to 'Settings'). On the 'Setting' tab click 'Privacy' and activate 'Do not track' and 'Cookies – Block all third-party cookies'.</p>
              <p class="title -small">Microsoft Edge</p>
              <p class="text">Go to 'Settings and More' and chose 'Settings'. Select 'View advanced settings'. Click on 'Privacy and services', then scroll to 'Cookies'. Choosing 'Block all cookies' won’t let any website save cookies to your computer. The option 'Block only third party cookies' allows cookies from the websites you visit but blocks cookies from external web services, like from ads embedded on webpages.</p>
              <p class="title -small">Chrome on Android</p>
              <p class="text">Open the app 'Chrome'. To the right of the address bar, tap 'more' (three dots) and then choose 'Settings'. Tap 'Site settings' and then 'Cookies'. Here you can turn Cookies on or off and choose to allow third party cookies or not.</p>
              <p class="title -small">Safari on iOS (iPhone & iPad)</p>
              <p class="text">Tap 'Settings' on your home screen and go to 'Safari'. In the section 'Privacy & Security' you can turn 'Block all Cookies’ on or off.</p>
              <p class="title -small">Other browsers</p>
              <p class="text">With new devices being created all the time, including tablets and phones it is not possible to list every browser for every device. The best advice is to consult the manufactures website for further instructions regarding cookies.</p>
            </div>
          </div>
        </div>
      </section>

