@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterLayout.cshtml";
}

<section class="entry-form">
        <div class="content-wrapper">
          <div class="wrapper--sm">
            <h1 class="header">Entry Form</h1>
            <p class="text">
               To claim your prize complete the entry form <br class="only--up-md">below. Please ensure all the information provided is correct before submitting your details.</p>
              <a id="revertToBank" class="button" href="/entry-form-bacs">CLICK HERE FOR BANK TRANSFER</a>
            <form class="participation-form" id="cheque-entry-form" action="#" method="post">
                <input class="inputfield js-event-type-in js-event-ab" type="text" name="firstname" placeholder="FIRST NAME" maxlength="400" data-require="true" data-type="regex" data-regex-pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðß ,.'-]+$" data-event-fieldname="First Name" data-event="form-click" data-category="Form Action" data-action="First Name" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab" type="text" name="lastname" placeholder="LAST NAME" maxlength="400" data-require="true" data-type="regex" data-regex-pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðß ,.'-]+$" data-event-fieldname="Last Name" data-event="form-click" data-category="Form Action" data-action="Last Name" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab js-event-ab-prefilled" type="text" value="@ViewBag.Email" name="email" placeholder="AUTOPOPULATE@EXAMPLE.CO.UK" maxlength="400" data-require="true" data-type="regex" data-regex-pattern="^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$" readonly data-event-fieldname="Email Address" data-event="form-click" data-category="Form Action" data-action="Email Address" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab" id="mobile-uk" type="text" name="mobilePrivate" value ="+44" maxlength="16" placeholder="MOBILE PHONE NUMBER" data-require="true" data-type="regex" data-regex-pattern="^[0-9+]{9,16}$" data-event-fieldname="Phone Number" data-event="form-click" data-category="Form Action" data-action="Phone Number" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab" id="mobile-roi" type="text" name="mobilePrivate" value="+353" maxlength="16" placeholder="MOBILE PHONE NUMBER" data-require="true" data-type="regex" data-regex-pattern="^[0-9+]{9,16}$" data-event-fieldname="Phone Number" data-event="form-click" data-category="Form Action" data-action="Phone Number" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab" type="text" name="street1" placeholder="ADDRESS LINE 1" maxlength="20" data-require="true" data-type="text" data-event-fieldname="Address Line 1" data-event="form-click" data-category="Form Action" data-action="Address Line 1" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab" type="text" name="street2" placeholder="ADDRESS LINE 2"  maxlength="20" data-require="false" data-event-fieldname="Address Line 2" data-event="form-click" data-category="Form Action" data-action="Address Line 2" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab" type="text" name="city" placeholder="CITY" maxlength="20" data-require="true" data-type="text" data-event-fieldname="City" data-event="form-click" data-category="Form Action" data-action="City" data-label="Type In">
                <input class="inputfield js-event-type-in js-event-ab" type="text" name="zipcode" placeholder="POSTCODE" maxlength="8" data-require="true" data-type="text" data-event-fieldname="Postcode" data-event="form-click" data-category="Form Action" data-action="Postcode" data-label="Type In">
                <input type="hidden" name="paymentType" value="Cheque">
                <input type="hidden" name="participationId" value="">
                <div class="country-container">
                    <span>
                        Please select the country where your<span class="-bold"> bank </span>is located
                    </span>
                    <div class="flex-wrapper">
                        <div class="country-block">
                            <input class="countryCheckbox js-event-type-in js-event-ab" type="radio" id="countryUK" name="country" value="uk" data-require="true" data-type="radio" checked data-event-fieldname="Country" data-event="form-click" data-category="Form Action" data-action="Country" data-label="Type In"><img class="countryflag" src="/Resources/images/uk-flag.png" alt="uk flag">
                            <p class="countrytext">UK</p>
                        </div>
                        <div class="country-block">
                            <input class="countryCheckbox js-event-type-in js-event-ab" type="radio" id="countryROI" name="country" value="ie" data-require="true" data-type="radio" data-event-fieldname="Country" data-event="form-click" data-category="Form Action" data-action="Country" data-label="Type In"><img class="countryflag" src="/Resources/images/ie-flag.png" alt="ie flag">
                            <p class="countrytext">ROI</p>
                        </div>
                    </div>
                </div>
                <div class="g-recaptcha" id="recaptcha" data-sitekey="6LfDdK4UAAAAAJiK4eKh4qW3TPpPWOkJtR5btIbj" data-callback="submitFormRecaptcha" data-size="invisible" data-badge="inline"></div>
                <div class="checkbox-wrapper">
                    <div class="checkbox-container">
                        <input class="js-event-type-in js-event-ab" value="true" type="checkbox" id="over18" name="age" data-require="true" data-type="checkbox" data-event-fieldname="Age" data-event="form-click" data-category="Form Action" data-action="Age" data-label="Type In">
                        <label></label>
                    </div><span>I am over 18 years old.</span>
                </div>
                <div class="checkbox-wrapper">
                    <div class="checkbox-container">
                        <input class="js-event-type-in js-event-ab" value="true" type="checkbox" id="TermsConsent" name="termsConsent" data-require="true" data-type="checkbox" data-event-fieldname="Terms & Conditions" data-event="form-click" data-category="Form Action" data-action="Terms & Conditions" data-label="Type In">
                        <label></label>
                    </div><span>
                        If you agree with the <a class="-underline js-event-cta" data-event="info-click" data-category="Informational Action" data-action="T&Cs" href="/terms-and-conditions">terms and conditions </a>of
                        this promotion and you would like to participate,
                        please tick this box.
                    </span>
                </div>
                <p class="text">
                    We value your trust when sharing your personal data with us. We always treat your data in a fair and respectful manner limited to the purpose above mentioned. If you would like to know more about how we handle your data, please read our 
                    <a class="-underline -bold js-event-cta" href="https://eu.mondelezinternational.com/privacy-notice?siteId=nzaaZBJAN%2fVI9axg9wmKL7n88yzTk5aqWwTu8qs4dS0%3d" target="_blank" rel="noopener noreferrer" data-event="info-click" data-category="Informational Action" data-action="Privacy Notice">Privacy Notice.</a>
                </p><a class="button" id="js-continue-cheque">Continue</a>
            </form>
          </div>
        </div>
      </section>

