@{
    Layout = "MasterLayout.cshtml";
}
<div class="message-overlay">
    <div class="message-box -compact">
        <div class="wrapper">
            <div class="header">404 Error</div>
            <div class="text">We're sorry, but we can't find the page you're looking for. This might be because of an out of date link or a typo. Don't worry though, you can find your bearings from the <a class='-underline active' href='/'>home page</a></div>
        </div>
    </div>
</div>
<section class="hero-section">
    <div class="content-wrapper">
        <h1 class="display-none">Cash in a flash</h1><img class="hero-image" src="/Resources/images/hero.png" alt="hero image"><br><img class="snapandwin" src="/Resources/images/snapandwin.png" alt="snap and win">
    </div>
</section>


