@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}
<section class="static-section">
        <div class="content-wrapper">
          <h1 class="header">FAQs</h1>
          <div class="text-container">
              <div class="text-wrapper">
                  <h2 class="section-title">General promotional questions</h2>
                  <p class="title">1. What is Trebor’s ‘Cash in a Flash’ promotion?</p>
                  <p class="text -last">At Trebor, we know that small cash prizes won’t change your life, but they will put a smile on your face! We are giving you the chance to win 1 of 1365 cash prizes ranging from £5 to £1,000, just by buying one of our Trebor packs and entering online.</p>
                  <p class="title">2. How do I enter / how does the promotion work?</p>
                  <p class="text">To enter simply buy any pack of Trebor and after submitting your email on this site, you will then be required to take a picture of the Trebor logo from your pack (be sure to get a clear picture) and you will then find out instantly if you’ve won a cash prize! </p>
                  <p class="text">One entry per person per day, and one prize per person per week.</p>
                  <p class="text -last">Participants from NI can enter without purchase by writing on a correctly stamped envelope / postcard with their full name, full postal address, email address and preferred method of payment - please specify either BACS (for Bank Transfer) or Cheque. A manual entry will then be submitted on your behalf – for more details please refer to our <a class="link" href="/terms-and-conditions">Ts&Cs</a>.</p>
                  <p class="title">3. Where can I purchase Trebor products?</p>
                  <p class="text -last">Trebor can be purchased from supermarkets, newsagents & convenience stores and Petrol Forecourts nationwide – Good luck</p>
                  <p class="title">4. What are the participating products?</p>
                  <p class="text -last">All Trebor packs can be used to participate in this promotion. </p>
                  <p class="title">5. When can I enter?</p>
                  <p class="text -last">You can only enter between 08:00 and 21:00 each day between 29th July 2019 and 1st September 2019. </p>
                  <p class="title">6. Do I need to retain my pack?</p>
                  <p class="text -last">Yes, please retain your pack, proof of purchase may be required before we can fulfil your prize.</p>
                  <p class="title">7. Do I need internet access to enter the promotion?</p>
                  <p class="text -last">Yes, internet access is required to enter this promotion.</p>
                  <h2 class="section-title">Prize details, claiming, and redemption</h2>
                  <p class="title">8. What prizes are available to be won in the promotion?</p>
                  <p class="text">Prizes available to be won in the promotion are:</p>
                  <ul class="list">
                      <li>604 x £5</li>
                      <li>418 x £10</li>
                      <li>220 x £20</li>
                      <li>83 x £50</li>
                      <li>20 x £100</li>
                      <li>15 x £250</li>
                      <li>3 x £500</li>
                      <li>2 x £1,000</li>
                  </ul>
                  <p class="text -last">All prizes to be won will be € equivalents for ROI. E.g. £5 = €5</p>
                  <p class="title">9. How will I know if I’ve won?</p>
                  <p class="text">Upon entering a valid email address and successfully taking a picture of the Trebor logo from your pack, you will be informed instantly on the site if you have a won a cash prize. You will then be required to select your preferred payment method and complete the entry form with the relevant details. </p>
                  <p class="text -last">Following this you will receive a confirmation email with more details about when you will receive your Cash in a Flash.</p>
                  <p class="title">10. What if my prize hasn’t arrived?</p>
                  <p class="text">Depending on your selected payment method, cash prizes can take up to 5 working days to arrive. </p>
                  <p class="text">If you select to receive payment via bank transfer, then please allow up to 3 working days for this to arrive in your account. For cheque payment, please allow 5 working days for this to be delivered to the address you provided.</p>
                  <p class="text -last">Please ensure you enter all details correctly, cash prizes that are not received as a result of the wrong details being supplied will not be reissued.</p>
                  <h2 class="section-title">Entry Mechanic</h2>
                  <p class="title">11. What if I can’t find the logo on my pack / the logo is damaged?</p>
                  <p class="text">All Trebor products use the logo on packaging, so please carefully check your pack to ensure you haven’t missed it. Please also take good care when opening packaging and be sure not to tear the logo or mark it.</p>
                  <p class="text -last">In the event that you damage the logo or it has been removed from the packaging, please contact <a class="link" href="mailto:trebor@thisisbd.com">trebor@thisisbd.com</a> who will look into this for you.</p>
                  <p class="title">12. What if the site doesn’t recognise the Trebor logo on my pack?</p>
                  <p class="text">If the Trebor logo isn’t recognised when you take a picture, then please ensure that it is clearly visible and there are no marks or obstructions that might cause it to be unrecognisable.</p>
                  <p class="text -last">If you are still unable to take a picture then please contact <a class="link" href="mailto:trebor@thisisbd.com">trebor@thisisbd.com</a> who will look into this for you.</p>
                  <p class="title">13. I entered the wrong email address, what do I do?</p>
                  <p class="text -last">If you have entered the incorrect email address when entering, then please email <a class="link" href="mailto:trebor@thisisbd.com">trebor@thisisbd.com</a> with your full name, the incorrect email address provided, and the new (correct) email address you would like to use, this will then be updated for you.</p>
                  <p class="title">14. Who is eligible to enter the promotion?</p>
                  <p class="text -last">If you are a resident of the UK or ROI who is 18 years or older then you are eligible to enter this promotion. Entrants that do no match these criteria will not be permitted entry and any prizes won may be revoked.</p>
                  <h2 class="section-title">Other</h2>
                  <p class="title">15. I have an issue with the product, what should I do?</p>
                  <p class="text">Please contact Mondelez through the <a class="link" href="https://contactus.mdlzapps.com/form?siteId=nzaaZBJAN%2fVI9axg9wmKL7n88yzTk5aqWwTu8qs4dS0%3d" target="_blank">contact us</a> section</p>
              </div>
          </div>
        </div>
      </section>