@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterLayout.cshtml";
}

      <div class="message-overlay">
        <div class="message-box">
          <div class="wrapper">
            <div class="header">Sorry, this competition isn’t open yet!</div>
            <div class="text">Please come back on the 31<sup class='superscript'>st</sup> of July 2019 for your chance to win</div>
          </div>
        </div>
      </div>
      <section class="hero-section">
        <div class="content-wrapper">
          <h1 class="display-none">Cash in a flash</h1><img class="hero-image _unmargin-bt" src="/Resources/images/hero.png" alt="Trebor Cash in a Flash. Snap your pack and win up to £1000"><br><img class="snapandwin _unmargin-bt" src="/Resources/images/snapandwin.png" alt="Snap your pack and win up to £1000">
        </div>
      </section>