@{
    Layout = "MasterLayout.cshtml";
}
<div class="message-overlay">
    <div class="message-box -compact">
        <div class="wrapper">
            <div class="header">500 Error</div>
            <div class="text">We're sorry, a server error has occured. Please try again later.</div>
        </div>
    </div>
</div>
<section class="hero-section">
    <div class="content-wrapper">
        <h1 class="display-none">Cash in a flash</h1><img class="hero-image" src="/Resources/images/hero.png" alt="hero image"><br><img class="snapandwin" src="/Resources/images/snapandwin.png" alt="snap and win">
    </div>
</section>
