@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterLayout.cshtml";
}

<section class="generic-section">
<div class="content-wrapper">
  <h1 class="header -mb">Enjoy your prize!</h1>
  <p class="text">
     You’ll receive an email confirmation shortly,<br class="only -lg">please don’t forget to check your junk mail.</p><img class="message-tick" src="/Resources/images/message-tick.png" alt="message-tick">
  <p class="text -bold">
     In the meantime why not check out how<br class="only -lg">Trebor can give you strength... </p>
  <div class="embed-container">
    <iframe src="https://www.youtube.com/embed/eb6YB65Bwws?rel=0" frameborder="0" allowfullscreen="" id="youtubevideo"></iframe>
  </div>
  <div class="twitter-container">
    <img class="icon" src="/Resources/images/twitter-icon.png" alt="twitter icon"></div>
    <a class="button find-out-more" href="https://twitter.com/trebor_uk" target="_blank" rel="noopener noreferrer">Click here to find out more</a>
</div>
</section>

