<h3>Instant Win Moment generation in database</h3>
<h4>This section contains the tools for generating instant win slots</h4>
<p>Please note that the generated slots are inserted directly into the database.</p>
<div class="umb-editor umb-mediapicker span12"
     ng-controller="instantwin.controller"
     data-ng-init="init()">
    <form role="form" class="well">
        <h3>Generator</h3>
        <p>
            These configuration concern the instant win moments
            generation
        </p>
        <div class="row">
            <div class="form-group span4 col-lg-4 col-md-6 col-xs-12">
                <label for="limitoption"> Limit Options </label>
                <select name="limitoption"
                        id="limitoption"
                        class="form-control"
                        placeholder="Enter Name "
                        ng-model="model.limitOption">
                    <option ng-repeat="optionText in limitOptions" value="{{optionText}}">{{optionText}}</option>
                </select>
            </div>
        </div>


        <h3>Allocator</h3>
        <p>
            These configuration concern the instant win moments
            allocation numbers
        </p>
        <div class="row">
            <div class="form-group span4 col-lg-4 col-md-6 col-xs-12" ng-repeat="prize in prizes">
                <label for="prize_{{prize.Id}}"> {{prize.Name}}  </label>
                <input type="text"
                       id="prize_{{prize.Id}}"
                       name="prize_{{prize.Id}}"
                       class="form-control"
                       placeholder="Enter the number of {{prize.Name}} to generate"
                       ng-model="model.prizetogenerate[$index].Number">
                <input type="hidden" ng-model="model.prizetogenerate[$index].Id" value="{{prize.Id}}">
            </div>
        </div>
        <div class="span12">
            <button type="button"
                    class="btn btn-success"
                    ng-click="generate()">
                {{ buttonLabel }}
            </button>
        </div>
    </form>
</div>

