@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="cookie-banner" id="js-cookie-banner">
  <div class="wrapper">
      <span class="js-banner-close icon icon-cross-purple">
        <img src="/Resources/images/close-button.png" alt="cookie close button"/>
      </span>
      <p class="text">
          We are using cookies in order to facilitate your navigation on this website.
          You can read about how we use cookies and see managing cookies to change your settings at any time on our <a href="/cookie-policy">cookies policy</a>.
          By continuing to navigate on this website or clicking on the button below you accept our policy regarding the usage of cookies on our <a href="https://eu.mondelezinternational.com/privacy-notice?siteId=nzaaZBJAN%2fVI9axg9wmKL7n88yzTk5aqWwTu8qs4dS0%3d" target="_blank" rel="noopener noreferrer">Privacy Notice</a> page.
      </p>
      <a class="js-accept-cookie button">
        <span>Accept the use of cookies</span>
      </a>
      </div>
</div>