<?xml version="1.0"?>
<rules>
  
  <rule name="Sitemap Rewrite" stopProcessing="true">
      <match url="^sitemap.xml" ignoreCase="true" />
      <action type="Rewrite" url="sitemapxml"/>
  </rule>
  
  <rule name="Robots Rewrite" stopProcessing="true">
      <match url="^robots.txt" ignoreCase="true" />
      <action type="Rewrite" url="robotstxt"/>
  </rule>
    
</rules>
