<?xml version="1.0"?>
<rules>
  
  <!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
		<match url="(.*)" />
		<conditions>
			<add input="{HTTPS}" pattern="off" ignoreCase="true" />
			<add input="{HTTP_HOST}" pattern="treborcash\.com" negate="true" />
		</conditions>
		<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
	</rule>-->

	<rule name="Non WWW to WWW UK" stopProcessing="true">
		<match url="(.*)" ignoreCase="true" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^treborcash\.com" />
		</conditions>
		<action type="Redirect" url="https://www.treborcash.com/{R:1}" redirectType="Permanent" />
	</rule>
  
  <rule name="Sitemap Rewrite" stopProcessing="true">
      <match url="^sitemap.xml" ignoreCase="true" />
      <action type="Rewrite" url="sitemapxml"/>
  </rule>
  
  <rule name="Robots Rewrite" stopProcessing="true">
      <match url="^robots.txt" ignoreCase="true" />
      <action type="Rewrite" url="robotstxt"/>
  </rule>
    
</rules>
