<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Uncomment the following if you want the Staging Environment to sync to Consultix Production Kraft.UK and Kraft.IE -->
  <!--<appSettings>

    <add key="CSX:Consumer:ApiKey:UK" value="S1JBRlQuVUsgVjd8VEJaWjE5MDEwMQ==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CSX:Consumer:ApiSecret:UK" value="463a7ca2a5e841dd983f78058d5af5ba" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="CSX:Consumer:ApiKey:IE" value="S1JBRlQuSUUgVjd8VEJaWjE5MDEwMQ==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CSX:Consumer:ApiSecret:IE" value="29a40f2b673f4fffb3c30d17598d4c8f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>-->
  <connectionStrings>
    
    <add name="umbracoDbDSN" connectionString="server=10.230.67.7;database=treborcash;user id=treborcash;password='@YF#FtNbm@'" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  
  </connectionStrings>
  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="error500" xdt:Transform="Replace"/>
    
  </system.web>
</configuration>